<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix E-Ticaret - Admin Oturum Aç</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #F9F7F7; /* Arka plan rengi */
        }
        .container {
            width: 350px;
            padding: 40px;
            background: #DBE2EF; /* Ana konteyner arka plan rengi */
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            text-align: center;
        }
        h2 {
            margin-bottom: 30px;
            color: #112D4E; /* Başlık rengi */
        }
        input[type="email"],
        input[type="password"],
        button[type="submit"] {
            width: 100%;
            padding: 15px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            background-color: #fff; /* Input arka plan rengi */
        }
        button[type="submit"] {
            background-color: #3F72AF; /* Gönder butonu arka plan rengi */
            color: #fff;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #2A4365; /* Gönder butonu hover arka plan rengi */
        }
        .register {
            margin-top: 15px;
            color: #666;
        }
        .register a {
            color: #3F72AF; /* Kaydol linki rengi */
            text-decoration: none;
        }
        .error {
            color: red;
            margin-top: 5px;
            text-align: center; /* Hata mesajının ortalanması */
        }
        .admin-btn {
            margin-top: 10px;
        }
        .admin-btn button {
            background-color: #F9A826; /* Admin butonu arka plan rengi */
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 15px;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 100%;
        }
        .admin-btn button:hover {
            background-color: #F57C00; /* Admin butonu hover arka plan rengi */
        }
        button[type="submit"],
        .admin-btn button {
            font-size: 16px; /* Her iki buton için aynı font boyutunu ayarlıyoruz */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Matrix E-Ticaret</h2>
        <h3>Admin Oturumu Aç</h3>
        <form action="" method="post"> 

            <% if (typeof(message)!="undefined") { %>
                <div class="alert  alert-<%=message.class%> " style="color: red;"><%=message.text %></div>
            <% } %>
                
            <div class="row mb-3">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>"
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input name="email" type="email" class="form-control" value="<%=authInfo.email%>" placeholder="Admin Email" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-8">
                    <input name="password" type="password" class="form-control" value="<%=authInfo.password%>" placeholder="Admin Şifre" required>
                </div>
            </div>
            <div class="mb-3  form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" value="1"  
                name="cbhatirla" <%=authInfo.password?"checked":null%>> 
                <label class="form-check-label" for="exampleCheck1">Beni hatırla</label>
            </div>
            <div class="row mb-3">
                <div class="col-sm-8 offset-sm-2">
                    <button type="submit" class="btn btn-primary" id="btnkaydet">Admin Oturum Aç</button>
 
                </div>        
            </div>           
        </form>
        <div class="admin-btn">
            <button onclick="window.location.href='/user/signin'">Kullanıcı Girişi</button>
        </div>
        <div class="register">
            Henüz bir hesabınız yok mu? <a href="/user/signUp">Hemen Kaydol</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/template/js/scripts.js"></script>
    
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
</body>
</html>
